# home-manager configuration files
/home-configuration

# Plugins can be loaded with 'PlugInstall' inside (neo)vim
/vim/.vim/plugged
/vim/.vim/spell

# This shouldn't be tracked (it contains the command history)
/pentadactyl/.pentadactyl/info

# Only track the chrome folder from the firefox profile
/pentadactyl/.mozilla/firefox/qqcyzdx2.default/*
!/pentadactyl/.mozilla/firefox/qqcyzdx2.default/chrome/

# These are machine specific
/ranger/.config/ranger/bookmarks
/ranger/.config/ranger/tagged
/ranger/.config/ranger/history

# Errors don't belong here
/ncmpcpp/.ncmpcpp/error.log
