snippet e "Emphasize" w
\emph{${1:${VISUAL:text}}}
endsnippet

snippet def "Definition" b
\begin{defn}[$1]
$2
\end{defn}
endsnippet

snippet todo "Todo reminder"
% TODO: ${1:desc} `!v strftime("%c")`
endsnippet

snippet sec "Section" b!
\section{${1:section name}}
\label{sec:${2:${1/\\\w+\{(.*?)\}|\\(.)|(\w+)|([^\w\\]+)/(?4:_:\L$1$2$3\E)/g}}}

${VISUAL}$0
% section $2 (end)
endsnippet
