[Unit]
Description=Calendar and contacts synchronization service

[Service]
Type=oneshot
Restart=no
ExecStart=/bin/bash -c '/usr/bin/vdirsyncer sync 2> >(/usr/bin/systemd-cat --priority="crit") 1> >(/usr/bin/systemd-cat --priority="info")'
