@namespace url(http://www.w3.org/1999/xhtml);

/* Original:
 * https://userstyles.org/styles/101431/new-duckduckgo-dark-theme
 * I "fixed" the layout without any knowledge of css and with pure
 * trial-and-error. Don't judge me.
 * The commented sections are edited by me. */

@-moz-document domain("duckduckgo.com") {
    * {
        font-family: "Linux Biolinum O", Georgia !important;
    }
    html {
    	color: #E6E5E5 !important;
    	background: none repeat scroll 0 0 #222222 !important;
    }   
    body, .zci, .result__snippet {
        color: #aaaaaa;
        font-size: 14px;
        /* Main color */
        background: none repeat scroll 0 0 #222222 !important;
    }
    /* The search field background */
    .search, .search--adv {
		background-color: #222 !important;
		border: 1px solid #fff !important;
		border-radius: 5px !important;
    }
    /* The search field text */
    .search, .search__input, .search--adv, .search__input--adv {
        color: #EEEEEE !important;
		font-size: 1.3em !important;
    }
    /* parts of the header */
	.header-wrap, .has-zcm .header-wrap::before, .has-zcm .header-wrap::after, .has-zcm .header::after {
		background: #333 !important;
	}
    .result, .results, .results_links, .highlight_v, .result__snippet {
    	/* Color of the result boxes */
        background-color: #222222 !important;
        max-width: 65em;
    }
    .results highlight {
        background-color: #333 !important;  
    }
    .header, header cw {
    }
    .header__search {
        margin-right: 19px;
    }
    .btn--primary, .btn {
        background: #333;
        border: 1px solid #333;
        color: #888;
    }
    .cloudsave {
        border-radius: 2px;
        padding: 1em;
        background: none repeat scroll 0% 0% #282828;
        text-align: center;
        margin: 0px 0px 1em;
    }
    .set-reset, .set-bookmarklet {
        border-radius: 3px;
        margin: 1em 0px;
        background: #282828;
        border: 1px solid #333;
        text-align: center;
    }
    .set-main .frm__label {
        font-size: 1.3em;
        padding: 0px;
        font-weight: 400;
        color: #ccc;
    }
    .frm__switch__label {
        background: #333;
        border: 1px solid #333;
        color: #888;
    }
    .frm__select select {
        background: #333;
        border: 1px solid #333;
        color: #888;
    }
    .frm__select {
        border-radius: 3px;
        border: 1px solid #383838;
        background-color: #222;
    }
    .frm__select:after {
        background-color: #333;
        border-color: #888 transparent transparent;
    }
    .search__button, .search__button--hero {
        margin-top: 2px;
    }
    #search_button {
        padding-top: 2px;
        padding-bottom: 1px;
        padding-top: 3px;
        padding-top: 3px;
        background: #333;
    }    
    #search_form_input_clear {
        padding-top: 2px;
        padding-bottom: 1px;
        padding-top: 3px;
        padding-top: 3px;
        margin-right: 40px;
        margin-bottom: 3px;
    }
    .search--hover #search_button {
        background: #383838;
    }
    .search--hover {
        background: #333;
    }
    .header__button--menu, .header__button--menu highlight{
        background-color: #333 !important;
        border: 1px solid #222;
        margin: 15px;
    }
    .has-active-zci .header-wrap, .has-active-zci {
        background-color: #333333 !important;
        border: none;
    }
    
    .region-indicator {
        background-color: #333333;
        margin: 15px;
        padding: 5px;
    }
    .popover__box {
        background-color: #333333;
    }
    .region__body {
       background-color: #333333;
    }
    .popover--dk:target, .popover--dk.is-showing {
       background: none repeat scroll 0% 0% rgba(21, 21, 21, 0.7);
       z-index: 100;
    }
    .nav-menu--slideout {
       background: none repeat scroll 0% 0% #181818;
       border-left: 0px solid #222;
    }
    .cw, .cw--c {
       position: relative;
       padding: 16px 2.5em;
       max-width: 70em;
       margin-left: 0px;
       margin-right: auto;
    }
    .has-zcm .header-wrap:before, .has-zcm .header-wrap:after, .has-zcm .header:after {
       box-shadow: none;
       background: none;
    }
    .badge--official {
        background-color: #447799;
    }
    .header-wrap, header_wrapper {
        background-color: #333;
        height: 8em;
    }
    .header__button--menu {
        border: 1px solid #222;
        margin-top: 17px;
    }
    b {
        color: #5588aa !important;
    }
    .search--header {
       background-color: #222222;
       height: 40px;
       border: 0px solid #444444;
    }
    .result, .cw .results--didya, .cw--c .results--didya {
        background-color: #222222;
    }
    .site-wrapper:before {
        background-color: #4477aa;
    }
    a {
        color: #76C7FF !important;
    }
    #header_wrapper #header {
        background-color: #333333;
    }
    #search_form {
    	/* I want a border around the whole form, including the bottom.
        border-bottom: 1px solid #000 !important;
        /*
    }
    #search_form_input {
        border-color: #888888 !important;
    }
    #header_button {
        border: 1px solid #444444 !important;
    }
    #logo {
        display: none !important;
    }
    #logo_homepage {
        height: 161px !important;
		margin-bottom: 40px !important;
		padding-bottom: 1px !important;
		width: 300px !important;
		}

    #side {
        background-color: #222222 !important;
    }
    #side_suggestions, #side_suggestions a {
        color: #A1A1A1 !important;
    }
    #side_wrapper2 {
        color: #DDDDDD !important;
    }
    #zero_click {
        background: none repeat scroll 0 0 #000000 !important;
    }
    #zero_click a {
        color: #76C7FF !important;
    }
    #zero_click a:visited {
        color: #76C7FF !important;
    }
    #zero_click .highlight {
        background: none repeat scroll 0 0 #F3F3F3 !important;
	      border-color: #444444 !important;
    }
    #zero_click_header a {
        color: #444444 !important;
    }
    #zero_click_header a:visited {
        color: #444444 !important;
    }
    #zero_click_abstract .highlight {
        background: none repeat scroll 0 0 #222222 !important;
	      border-color: #444444 !important;
    }
    #zero_click_topics .highlight {
        background: none repeat scroll 0 0 #222222 !important;
	      border-color: #444444 !important;
    }
    #zero_click_wrapper {
        display: none !important;
        visibility: hidden !important;
    }
    .web-result:hover, .zero-click-result:hover {
        background: none repeat scroll 0 0 #000000 !important;
        border: 1px solid #BFBFBF !important;
        border-radius: 0px !important;
        cursor: default !important;
    }
    #links .icon_fav img, .icon_fav2 img {
        height: 24px !important;
        width: 24px !important;
    }
    #links .results_links_deep {
        border: 0px none !important;
    }
    .results_links, .results_zero_click, .results_disambig, .results_links_more, .results_category_more, .results_disambig_more {
        border: 0px none !important;
    }
    .navbutton {
        color: #76C7FF !important;
    }
    input.navbutton:hover {
        border-bottom: 0px none !important;
    }
    a.large {
        color: #76C7FF !important;
    }
    a.large:visited {
        color: #D7B7FF !important;
    }
    .url, .url a {
        color: #63D684 !important;
    }
    .url a:visited {
        color: #D7B7FF !important;
    }
    .links_menu, .links_menu a {
        color: #FFC334 !important;
    }
    .links_menu a:visited {
        color: #D7B7FF !important;
    }
    .snippet, .snippet a {
        color: #E5E5E5 !important;
    }
    #tagline_homepage {
        font-size: 15px !important;
        color: #E5E5E5 !important;
    }
    #tagline_homepage a {
        color: #76C7FF !important;
    }
    #tagline_homepage a:visited {
        color: #76C7FF !important;
    }
    #dd-titleblock .dd-title {
        color: #E5E5E5 !important;
    }
    #introblock h3 {
        color: #E5E5E5 !important;
    }
    #introblock p {
        color: #E5E5E5 !important;
    }
    #footer_homepage_left {
        color: #B0B0B0 !important;
    }
    #footer_homepage_left a {
        border-right: 1px dotted #E5E5E5 !important;
        color: #B0B0B0 !important;
    }
    #footer_homepage_right a {
        border-left: 1px dotted #B0B0B0 !important;
        color: #B0B0B0 !important;
    }
    .modal .icon, .add_to_browser .icon, #footer_homepage .add_to_browser .icon, #footer_homepage .modal .icon {
        color: #666666 !important;
    }
    #more_menu li a {
        color: #1168CC !important;
    }
}
