/* *background:#222222 */
/* *foreground:#e8e9ca */

! black
*color0:    #222222
*color8:    #4c4c4c
! red
*color1:    #8b3e2f
*color9:    #d75f00
! green
*color2:    #526f33
*color10:   #cee318
! yellow
*color3:    #665847
*color11:   #eee685
! blue
*color4:    #4a708b
*color12:   #9ac0cd
! magenta
*color5:    #7a378b
*color13:   #9f79ee
! cyan 
*color6:    #528b8b
*color14:   #79cdcd
! white
*color7:    #999999
*color15:   #e8e9ca

! URXVT
URxvt*urgentOnBell: true
URxvt*internalBorder: 6
URxvt*cursorBlink: true
URxvt*scrollBar: false
URxvt*letterSpace: -4
URxvt.perl-ext-common: default,matcher,clipboard
URxvt.matcher.button: 1
URxvt.colorUL: #4682B4
URxvt.iso14755: False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.clipboard.copycmd: xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
URxvt.iso14755_52: false

URxvt*font: xft:Source Code Pro:regular:size=9
URxvt*imFont: xft:Source Code Pro:regular:size=9
URxvt*boldFont: xft:Source Code Pro:semibold:size=9
URxvt*italicFont: xft:Source Code Pro:italic:size=9
URxvt*boldItalicFont: xft:Source Code Pro:semibold:italic:size=9
