[Unit]
Description=Notify about new mail
After=mbsync.service
Requires=mbsync.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c %h/bin/mailcheck

[Install]
WantedBy=default.target
